.single-product {
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.single-product-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.single-product-wrapper img {
  height: 350px;
  width: 100%;
  object-fit: contain;
  max-width: 100%; 
  flex: 1;

}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1; 
}

.product-title h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.product-desc p {
  margin: 0;
  line-height: 1.6;
}

.product-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.btn{
  padding: 10px 20px;
  background-color: #252525;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px; 
}

.btn:hover {
  background-color: #444;
  color: #f1f1f1;
}

.dropdown-select {
  display: flex;
  gap: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #252525;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 120px; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin-top: 5px;
}

.dropdown-content p {
  margin: 0;
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropdown-content.show {
  display: block;
}

.selected-option {
  color: #252525;
  font-weight: bold;
}

.arrow {
  margin-left: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .single-product-wrapper {
    flex-direction: column;
  }

  .single-product-wrapper img {
    height: auto;
    max-height: 300px; 
  }

  .product-content {
    margin-top: 20px;
  }

  .product-btn {
    flex-direction: column;
    gap: 10px;
  }

  .product-btn button {
    width: 100%;
    max-width: 300px;
    margin-top: 0; 
  }

  .dropdown-select {
    flex-direction: column;
  }

  .dropdown-button {
    width: 100%; 
    text-align: left;
  }
}

@media (max-width: 480px) {

  .product-title{
    text-align: center;
  }

  .dropdown-select{
    text-align: center;
  }

  .dropdown-button {
    width: 150px;
    text-align: center;
    font-size: 14px; 
    padding: 8px 16px;
  }

  .product-btn .add-to-cart{
    width: 175px;
  }
}
